:root {
    --text-color: #eee;
    --bg-color-dark: #1a1a1a;
    --bg-color-darker: #111;
    --bg-color-darkest: #000;
    --blood-bright: #cb0607;
    --blood-dark: #3a0303;

    --border-radius: 1rem;

    --card-gap: 3rem;
    --card-glow: 20px;
    --card-1-bg: #3d0202;
    --card-2-bg: #021a3d;
    --card-3-bg: #023d19;
    --card-4-bg: #3d3702;
}

/* Specific things */
.site-container {
    display: grid;
    grid-template-columns: 1fr [main] min(900px, 100%) 1fr;
    row-gap: 3rem;
    column-gap: 0;
}

.title {
    grid-column: main;
    text-align: center;
}

.title img {
    width: min(200px, 50vw);
    border-radius: 50%;
    border: 2px solid var(--text-color);
    box-shadow: 0 0 40px -10px var(--blood-bright);
    margin-bottom: min(7rem, 15vw);
}

.title h1 {
    font-size: min(14rem, 36vw);
    line-height: min(7rem, 15vw);
    margin: 0;
}

.title h2 {
    font-size: min(4rem, 12vw);
    margin: 2rem 0 0 0;
}

.title h3 {
    font-size: min(2rem, 9vw);
    padding-inline: 8rem;
    margin: 1rem 0 0 0;
}

.content {
    grid-column: main;
}

.fullwidth {
    grid-column: 1 / 4;
}

body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--bg-color-dark);
    background: radial-gradient(var(--bg-color-dark), var(--bg-color-darkest)) fixed;
    color: var(--text-color);
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33.3% - var(--card-gap)), 1fr));
    grid-auto-flow: row;
    gap: var(--card-gap);
    margin-bottom: var(--card-gap);
    padding: 0 1rem;
}

.grid-2 {
    grid-template-columns: repeat(2, minmax(calc(50% - var(--card-gap)), 1fr));
}

.grid-5 {
    grid-template-columns: repeat(5, minmax(calc(20% - var(--card-gap)), 1fr));
}

.grid div {
    border-radius: var(--border-radius);
    position: relative;
}

.grid div:nth-child(4n + 1) {
    background: linear-gradient(100deg, var(--card-1-bg), var(--bg-color-darker), var(--card-1-bg));
    box-shadow: 0 0 var(--card-glow) 0 var(--card-1-bg);
    border: 2px solid var(--card-1-bg);
}
.grid div:nth-child(4n + 2) {
    background: linear-gradient(140deg, var(--card-2-bg), var(--bg-color-darker), var(--card-2-bg));
    box-shadow: 0 0 var(--card-glow) 0 var(--card-2-bg);
    border: 2px solid var(--card-2-bg);
}
.grid div:nth-child(4n + 3) {
    background: linear-gradient(180deg, var(--card-3-bg), var(--bg-color-darker), var(--card-3-bg));
    box-shadow: 0 0 var(--card-glow) 0 var(--card-3-bg);
    border: 2px solid var(--card-3-bg);
}
.grid div:nth-child(4n + 4) {
    background: linear-gradient(200deg, var(--card-4-bg), var(--bg-color-darker), var(--card-4-bg));
    box-shadow: 0 0 var(--card-glow) 0 var(--card-4-bg);
    border: 2px solid var(--card-4-bg);
}

.grid div > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    position: relative;
}

.grid div > img.tall {
    height: 500px;
}

.grid div p {
    font-size: 1.5rem;
    margin: 1rem;
}

.center {
    text-align: center;
}

.bloody,
a:any-link {
    background: linear-gradient(var(--blood-bright), var(--blood-dark));
    background-clip: text;
    color: transparent;
}

.header {
    background: linear-gradient(#00000000, 15%, var(--bg-color-darkest), 85%, #00000000);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Special Elite", serif;
    font-weight: normal;
}

h1 {
    font-size: min(4rem, 12vw);
}

.rot90 {
    transform: rotate(90deg);
}

.rot90 a:any-link {
    text-decoration: none;
    color: inherit;
}

.emote {
    width: 2rem;
    vertical-align: middle;
}

.fullpage {
    height: 100vh;
    align-content: center;
}

/* Mobile shit */
@media screen and (max-width: 700px) {
    .title h3 {
        padding-inline: 0;
    }

    .grid {
        grid-template-columns: 100%;
        margin-bottom: 0;
    }
}
