:root {
    --text-color: #eee;
    --bg-color-dark: #1a1a1a;
    --bg-color-darker: #111;
    --bg-color-darkest: #000;
    --blood-bright: #cb0607;
    --blood-dark: #550707;

    --border-radius: 1rem;

    --card-gap: 3rem;
    --card-glow: 20px;
    --card-1-bg: #3d0202;
    --card-2-bg: #041f46;
    --card-3-bg: #023d19;
    --card-4-bg: #3d3702;
}

* {
    box-sizing: border-box;
}

.site-container {
    display: grid;
    grid-template-columns: 1fr 1fr [main] min(900px, 100%) 1fr 1fr;
    row-gap: 3rem;
    column-gap: 0;
}

.title {
    grid-column: main;
    text-align: center;
}

.title img {
    width: min(200px, 50vw);
    border-radius: 50%;
    border: 2px solid var(--text-color);
    box-shadow: 0 0 40px -10px var(--blood-bright);
    margin-bottom: min(7rem, 15vw);
}

.title h1 {
    font-size: min(14rem, 36vw);
    line-height: min(7rem, 15vw);
    margin: 0;
}

.title h2 {
    font-size: min(4rem, 12vw);
    line-height: initial;
    margin: 2rem 0 0 0;
}

.title h3 {
    font-size: min(2rem, 9vw);
    padding-inline: 8rem;
    line-height: min(2.5rem, 10vw);
    margin: 1rem 0 0 0;
}

.width-content {
    grid-column: main;
}

.width-75 {
    grid-column: 2 / 5;
}

.width-100 {
    grid-column: 1 / 6;
}

body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    background-color: var(--bg-color-dark);
    background: radial-gradient(var(--bg-color-dark), var(--bg-color-darkest)) fixed;
    color: var(--text-color);
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33.3% - var(--card-gap)), 1fr));
    grid-auto-flow: row;
    gap: var(--card-gap);
    margin-bottom: var(--card-gap);
    padding: 0 1rem;
}

.grid-2 {
    grid-template-columns: repeat(2, minmax(calc(50% - var(--card-gap)), 1fr));
}

.grid-4 {
    grid-template-columns: repeat(4, minmax(calc(25% - var(--card-gap)), 1fr));
    gap: min(2vw, var(--card-gap));
}

.grid-5 {
    grid-template-columns: repeat(5, minmax(calc(20% - var(--card-gap)), 1fr));
}

.card {
    border-radius: var(--border-radius);
}

.card:nth-child(4n + 1) {
    background: linear-gradient(100deg, var(--card-1-bg), var(--bg-color-darker), var(--card-1-bg));
    box-shadow: 0 0 var(--card-glow) 0 var(--card-1-bg);
    border: 2px solid var(--card-1-bg);
}
.card:nth-child(4n + 2) {
    background: linear-gradient(140deg, var(--card-2-bg), var(--bg-color-darker), var(--card-2-bg));
    box-shadow: 0 0 var(--card-glow) 0 var(--card-2-bg);
    border: 2px solid var(--card-2-bg);
}
.card:nth-child(4n + 3) {
    background: linear-gradient(180deg, var(--card-3-bg), var(--bg-color-darker), var(--card-3-bg));
    box-shadow: 0 0 var(--card-glow) 0 var(--card-3-bg);
    border: 2px solid var(--card-3-bg);
}
.card:nth-child(4n + 4) {
    background: linear-gradient(200deg, var(--card-4-bg), var(--bg-color-darker), var(--card-4-bg));
    box-shadow: 0 0 var(--card-glow) 0 var(--card-4-bg);
    border: 2px solid var(--card-4-bg);
}

.grid img {
    width: 100%;
    border-radius: var(--border-radius);
}

.grid .card > img {
    height: 250px;
    object-fit: cover;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    position: relative;
}

.grid .card > img.tall {
    height: 500px;
}
.grid p {
    margin: 1rem;
}

.center {
    text-align: center;
}

.bloody,
a:any-link {
    background: linear-gradient(var(--blood-bright), var(--blood-dark));
    background-clip: text;
    color: transparent;
}

.fishy {
    background: linear-gradient(#b4edff, #77a2b6);
    background-clip: text;
    color: transparent;
}

.pink {
    background: linear-gradient(#fa76ce, #fdc1e6);
    background-clip: text;
    color: transparent;
}

.vertical-align {
    align-content: center;
}

.header {
    background: linear-gradient(#00000000, 15%, var(--bg-color-darkest), 85%, #00000000);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Special Elite", serif;
    font-weight: normal;
}

h1 {
    font-size: min(4rem, 12vw);
}

h2 {
    line-height: 3rem;
}

ul {
    margin-left: 1rem;
    padding-left: 1rem;
}

li {
    margin-bottom: 0.5rem;
}

hr {
    border: none;
    border-bottom: 1px solid var(--text-color);
}

.small {
    font-size: smaller;
    line-height: initial;
}

.grid div p.small {
    font-size: 1rem;
    line-height: initial;
}

.rot90 {
    transform: rotate(90deg);
}

.rot90 a:any-link {
    text-decoration: none;
    color: inherit;
}

img.emote {
    border-radius: 0;
    width: 2rem;
    vertical-align: middle;
}

.fullpage {
    min-height: 100vh;
    align-content: center;
}

/* Specific stuff */
.the-numbers {
    display: flex;
    flex-direction: row;
}
.peggy-smol {
    max-width: 350px;
}
.peggy-smol img {
    width: min(100%, 240px);
}

.strommi,
.halloween {
    position: relative;
    width: 100%;
    height: 65vh;
    padding: 0.5rem;
}
.strommi > img,
.halloween > img {
    position: absolute;
    height: 100%;
    z-index: 0;
}
.halloween > img {
    right: 0;
}
.strommi .content {
    position: absolute;
    bottom: 0;
    right: 15%;
    width: min(50%, 50vw);
    margin-left: min(30%, 40vw);
    z-index: 1;
}
.halloween .content {
    position: absolute;
    bottom: 0;
    left: 30%;
    width: min(50%, 50vw);
    margin-right: min(30%, 40vw);
    z-index: 1;
}

.critter-container {
    position: relative;
    margin-bottom: 5rem;
}
[class^="critter"] {
    position: absolute;
}
.critter-1 {
    left: -5%;
}
.critter-2 {
    right: -5%;
}

/* Mobile shit */
@media screen and (max-width: 700px) {
    .title,
    .width-content,
    .width-100 {
        padding-inline: 0.5rem;
    }

    .title h1 {
        font-size: 24vw;
        line-height: 8vw;
    }

    .title h3 {
        padding-inline: 0;
    }

    .grid {
        grid-template-columns: 100%;
        margin-bottom: 0;
        gap: calc(var(--card-gap) / 2);
    }

    .the-numbers {
        display: initial;
    }

    .peggy-smol {
        max-width: initial;
        margin: 1rem;
    }

    .strommi .content {
        right: 0.5rem;
        text-align: right;
    }

    .halloween .content {
        left: 0.5rem;
    }
}
